.layouts {
  float: left;
  width: 100%;
  display: inline-block;
}
.transition {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
@charset "utf-8";
/*********** IMPORT FONT FILE TO WEB **************/
@font-face {
  font-family: 'ColabThi-webfont';
  src: url('../font/ColabThi-webfont.eot');
  src: url('../font/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ColabThi-webfont.woff') format('woff'), url('../font/ColabThi-webfont.ttf') format('truetype'), url('../font/ColabThi-webfont.svg#ColabThi-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisansneue-light';
  src: url('../font/thaisansneue-light.eot');
  src: url('../font/thaisansneue-light.eot?#iefix') format('embedded-opentype'), url('../font/thaisansneue-light.woff') format('woff'), url('../font/thaisansneue-light.ttf') format('truetype'), url('../font/thaisansneue-light.svg#thaisansneue-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Scroll Bar */
/* Let's get this party started */
body::-webkit-scrollbar {
  width: 7px;
  background: #EEEEEE;
}
/* Track */
body::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #34495e;
}
body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  background: #EEEEEE;
  overflow: scroll;
}
#header {
  position: fixed;
  width: 20%;
  height: 100%;
  background: #34495e;
  overflow: auto;
  box-shadow: 2px 0px 3px #222222;
}
#header #logo {
  width: 94%;
  padding: 3%;
  float: left;
  display: inline-block;
  font-family: 'Unica One', cursive;
  font-size: 3.5em;
  text-align: center;
  color: #EEEEEE;
  text-shadow: 2px 2px 3px #444444;
}
#header #logo .s {
  color: #FFFFFF;
}
#header #logo:hover {
  color: #FFFFFF;
}
#header #description {
  width: 94%;
  padding: 3%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  line-height: 20px;
  color: #CCCCCC;
}
#header #description i {
  color: #4a6988;
}
#header #category,
#header #navigator {
  width: 94%;
  padding: 3%;
  float: left;
  display: inline-block;
}
#header #category .categoryItem,
#header #navigator .categoryItem,
#header #category .navItem,
#header #navigator .navItem {
  float: left;
  width: 91%;
  display: inline-block;
  color: #AAAAAA;
  background: #2c3e50;
  font-size: 0.8em;
  padding: 4%;
  margin-bottom: 2px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#header #category .categoryItem:hover,
#header #navigator .categoryItem:hover,
#header #category .navItem:hover,
#header #navigator .navItem:hover {
  color: #FFFFFF;
  margin-left: 10px;
}
#header #category .categoryItem:hover i,
#header #navigator .categoryItem:hover i,
#header #category .navItem:hover i,
#header #navigator .navItem:hover i {
  color: #4a6988;
}
#header #category .categoryItem i,
#header #navigator .categoryItem i,
#header #category .navItem i,
#header #navigator .navItem i {
  color: #34495e;
  margin-right: 5px;
}
#header #category .categoryItem .total,
#header #navigator .categoryItem .total,
#header #category .navItem .total,
#header #navigator .navItem .total {
  float: right;
  color: #4a6988;
}
#header .active {
  color: #FFFFFF !important;
  margin-left: 10px;
}
#header .active i {
  color: #4a6988 !important;
}
/* Scroll Bar */
/* Let's get this party started */
#header::-webkit-scrollbar {
  width: 0px;
  background: #DDDDDD;
}
/* Track */
#header::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* Handle */
#header::-webkit-scrollbar-thumb {
  background: #DDDDDD;
}
#mainContent {
  width: 79%;
  margin-left: 21%;
  display: inline-block;
}
#mainContent .mainContent {
  width: 100%;
  float: left;
  display: inline-block;
}
#mainContent .mainContent #show {
  width: 66%;
  float: left;
  display: inline-block;
  padding: 2%;
}
#mainContent .mainContent #show .photo {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
#mainContent .mainContent #show .video {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 20px;
}
#mainContent .mainContent #show .video iframe {
  width: 100%;
  height: 500px;
  border: 0px;
}
#mainContent .mainContent #show .video .fb-post {
  width: 100% !important;
  height: 500px !important;
  border: 0px !important;
}
#mainContent .mainContent #show .stat {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 20px;
  color: #AAAAAA;
  font-size: 0.9em;
}
#mainContent .mainContent #show .stat .time {
  float: left;
}
#mainContent .mainContent #show .stat .statBox {
  float: right;
}
#mainContent .mainContent #show h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #34495e;
  line-height: 35px;
}
#mainContent .mainContent #show .text {
  width: 100%;
  float: left;
  display: inline-block;
  line-height: 24px;
  font-size: 1em;
  color: #777777;
  margin-bottom: 20px;
}
#mainContent .mainContent #show .comment {
  width: 100%;
  float: left;
  display: inline-block;
}
#mainContent .mainContent #show .comment .fb-comments,
#mainContent .mainContent #show .comment .fb-comments * {
  width: 100% !important;
}
#mainContent .mainContent #title {
  width: 96%;
  float: left;
  display: inline-block;
  padding: 2%;
  background: #EEEEEE;
  text-align: right;
  border-bottom: 1px dotted #DDDDDD;
}
#mainContent .mainContent #title h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: normal;
  color: #34495e;
}
#mainContent .mainContent #title p {
  font-size: 0.9em;
  color: #AAAAAA;
}
#mainContent .mainContent .feedItem {
  float: left;
  width: 31%;
  display: inline-block;
  margin: 1%;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px #AAAAAA;
}
#mainContent .mainContent .feedItem .image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  float: left;
  background-image: url(../image/loading4.gif);
  background-position: center;
  background-repeat: no-repeat;
}
#mainContent .mainContent .feedItem .image img {
  width: 100%;
}
#mainContent .mainContent .feedItem .detail {
  width: 94%;
  padding: 3%;
  display: inline-block;
  float: left;
  height: 90px;
  overflow: hidden;
}
#mainContent .mainContent .feedItem .detail h1 {
  font-size: 0.9em;
  line-height: 18px;
  margin-bottom: 5px;
}
#mainContent .mainContent .feedItem .detail h1 a {
  color: #34495e;
}
#mainContent .mainContent .feedItem .detail p {
  font-size: 0.85em;
  line-height: 19px;
  color: #777777;
}
#mainContent .mainContent .feedItem .stat {
  width: 94%;
  padding: 3%;
  display: inline-block;
  float: left;
  font-size: 0.7em;
  color: #34495e;
}
#mainContent .mainContent .feedItem .stat i {
  color: #AAAAAA;
}
#mainContent .mainContent .feedItem .stat .time {
  float: left;
}
#mainContent .mainContent .feedItem .stat .statBox {
  float: right;
}
#feature {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0px;
  right: 1%;
  overflow: auto;
}
#feature .featureItem {
  float: left;
  width: 96%;
  display: inline-block;
  background: #FFFFFF;
  margin: 2%;
}
#feature .featureItem .photo {
  width: 100%;
  height: 150px;
  float: left;
  display: inline-block;
  overflow: hidden;
}
#feature .featureItem .detail {
  width: 94%;
  float: left;
  display: inline-block;
  padding: 3%;
}
#feature .featureItem .detail h2 {
  font-size: 0.8em;
  line-height: 18px;
  color: #34495e;
  margin-bottom: 5px;
}
#feature .featureItem .stat {
  width: 94%;
  padding: 3%;
  display: inline-block;
  float: left;
  font-size: 0.7em;
  color: #34495e;
}
#feature .featureItem .stat i {
  color: #AAAAAA;
}
#feature .featureItem .stat .time {
  float: left;
}
#feature .featureItem .stat .statBox {
  float: right;
}
/* Scroll Bar */
/* Let's get this party started */
#feature::-webkit-scrollbar {
  width: 0px;
  background: #DDDDDD;
}
/* Track */
#feature::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* Handle */
#feature::-webkit-scrollbar-thumb {
  background: #e74c3c;
}
