@colorBase1:#34495e;
@colorBase2:#2c3e50;
@colorBase3:#4A6988;
@colorBase4:#2980b9;

@colorBase5:#16a085;

@fontStyle1:ColabThi-webfont;
@fontStyle2:thaisansneue-light;

.layouts{
    float: left;
    width: 100%;
    display: inline-block;
}

.transition{
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

@charset "utf-8";
/*********** IMPORT FONT FILE TO WEB **************/
@font-face {
    font-family: 'ColabThi-webfont';
    src: url('../font/ColabThi-webfont.eot');
    src: url('../font/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ColabThi-webfont.woff') format('woff'),
         url('../font/ColabThi-webfont.ttf') format('truetype'),
         url('../font/ColabThi-webfont.svg#ColabThi-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thaisansneue-light';
    src: url('../font/thaisansneue-light.eot');
    src: url('../font/thaisansneue-light.eot?#iefix') format('embedded-opentype'),
         url('../font/thaisansneue-light.woff') format('woff'),
         url('../font/thaisansneue-light.ttf') format('truetype'),
         url('../font/thaisansneue-light.svg#thaisansneue-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Scroll Bar */
/* Let's get this party started */
body::-webkit-scrollbar {
    width: 7px;
    background: #EEEEEE;
}
/* Track */
body::-webkit-scrollbar-track { 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Handle */
body::-webkit-scrollbar-thumb {background:@colorBase1;}
body::-webkit-scrollbar-thumb:window-inactive {}

body{
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    background: #EEEEEE;
    overflow: scroll;
}

#btnMenu{
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 1.5em;
    z-index: 20;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding: 2%;
    border-radius: 3px;
    cursor: pointer;
    display: none;

    &:hover{
        background: #000000;
    }
}

#header{
    position: fixed;
    width: 20%;
    height: 100%;
    background: @colorBase1;
    overflow: auto;
    box-shadow: 2px 0px 3px #222222;
    border-radius: 0px;
    z-index: 10;

    #logo{
        width: 94%;
        padding: 3%;
        float: left;
        display: inline-block;
        font-family: 'Unica One', cursive;
        font-size: 3.5em;
        text-align: center;
        color: #EEEEEE;
        text-shadow: 2px 2px 3px #444444;

        .s{
            color: #FFFFFF;
        }

        &:hover{
            color: #FFFFFF;
        }
    }

    #description{
        width: 94%;
        padding: 3%;
        float: left;
        display: inline-block;
        font-size: 0.9em;
        line-height: 10px;
        color: #CCCCCC;

        i{
            color: @colorBase3;
        }
    }

    .banner{
        width: 94%;
        padding: 3%;
        float: left;
        display: inline-block;
        margin-bottom: 10px;

        .bannerItem{
            float: left;
            width: 96%;
            padding: 2%;
            display: inline-block;
            margin-bottom: 1px;
            background: @colorBase2;
            border-radius: 2px;
            position: relative;

            img{
                width: 100%;
            }

            &:hover{
                .title{
                    opacity: 1;
                }
            }

            .title{
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: #111111;
                background: rgba(0,0,0,0.6);
                color: #FFFFFF;
                font-size: 0.7em;
                padding: 5px;
                border-radius: 1px;
                opacity: 0;

                .transition;
            }
        }
    }

    #category,#navigator{
        width: 94%;
        padding: 3%;
        float: left;
        display: inline-block;

        .categoryItem,.navItem{
            float: left;
            width: 91%;
            display: inline-block;
            color: #AAAAAA;
            background: @colorBase2;
            font-size: 0.8em;
            padding: 4%;
            margin-bottom: 2px;
            border-radius: 2px;

            .transition;

            &:hover{
                color: #FFFFFF;
                margin-left: 10px;

                i{
                    color: @colorBase3;
                }
            }

            i{
                color: @colorBase1;
                margin-right: 5px;
            }

            .total{
                float: right;
                color: @colorBase3;
            }
        }
    }
    .active{
        color: #FFFFFF !important;
        margin-left: 10px;

        i{
            color: @colorBase3 !important;
        }
    }

    #footer{
        width: 94%;
        padding: 3%;
        float: left;
        display: inline-block;
        font-size: 0.7em;
        color:#AAAAAA;
        line-height: 15px;
        text-align: center;

        a{
            color: #FFFFFF;
        }

        .cr{
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
}

/* Scroll Bar */
/* Let's get this party started */
#header::-webkit-scrollbar {
    width: 0px;
    background:#DDDDDD;
}
/* Track */
#header::-webkit-scrollbar-track { 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
/* Handle */
#header::-webkit-scrollbar-thumb {background:#DDDDDD;}
#header::-webkit-scrollbar-thumb:window-inactive {}

#mainContent{
    width: 79%;
    margin-left: 21%;
    display: inline-block;

    .mainContent{
        width: 100%;
        float: left;
        display: inline-block;

        #show{
            width: 66%;
            float: left;
            display: inline-block;
            padding: 2%;

            .photo{
                width: 100%;
                display: inline-block;
                float: left;
                margin-bottom: 20px;

                background-image:url(../image/loading4.gif);
                background-position:center;
                background-repeat:no-repeat;

                img{
                    width: 100%;
                    box-shadow: 1px 1px 3px #777777;
                }
            }

            .video{
                width: 100%;
                float: left;
                display: inline-block;
                margin-bottom: 20px;

                iframe{
                    width:100%;
                    height:500px;
                    border:0px;
                    box-shadow: 1px 1px 3px #777777;

                    background-image:url(../image/loading4.gif);
                    background-position:center;
                    background-repeat:no-repeat;
                }

                .fb-post{
                    width:100% !important;
                    height:500px !important;
                    border:0px !important;
                }
            }

            .stat{
                width: 100%;
                float: left;
                display: inline-block;
                margin-bottom: 20px;
                color: #AAAAAA;
                font-size: 0.9em;

                .time{
                    float: left;
                    margin-right: 10px;

                    a{
                        color: @colorBase1;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .statBox{
                    float: right;
                }
            }

            h1{
                font-size: 1.8em;
                margin-bottom: 20px;
                color: @colorBase1;
                line-height: 35px;
            }
            .hidden{
                display: none;
            }

            .social{
                float: left;
                width: 100%;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;

                .item{
                    float: left;
                    margin-right: 10px;
                    display: inline-block !important;
                    text-align: center;
                }
            }

            .text{
                width: 100%;
                float: left;
                display: inline-block;
                line-height: 24px;
                font-size: 1em;
                color: #777777;
                margin-bottom: 20px;

                strong{
                    color: @colorBase1;
                }

                em{
                    color: @colorBase4;
                }

                a{
                    color: @colorBase1;

                    &:hover{
                        color: @colorBase4;
                        text-decoration: underline;
                    }
                }

                img{
                    width: 100%;
                    display: inline-block;
                    float: left;
                    box-shadow: 1px 1px 3px #777777;
                    margin-bottom: 5px;

                    background-image:url(../image/loading4.gif);
                    background-position:center;
                    background-repeat:no-repeat;
                }

                figcaption{
                    width: 100%;
                    font-size: 0.8em;
                    text-align: right;
                    margin-bottom: 20px;
                    text-decoration: none !important;
                }

                iframe{
                    width:100%;
                    height:500px;
                    border:0px;
                    box-shadow: 1px 1px 3px #777777;

                    background-image:url(../image/loading4.gif);
                    background-position:center;
                    background-repeat:no-repeat;
                }

                .fb-post{
                    width:100% !important;
                    height:500px !important;
                    border:0px !important;
                }
                
                // -webkit-column-count: 2; 
                // -webkit-column-rule: 1px solid #bbb;
                // -webkit-column-gap: 2em;
            }

            .comment{
                width: 100%;
                float: left;
                display: inline-block;

                .fb-comments,.fb-comments *{
                    width:100% !important;
                }
            }
        }

        #title{
            width: 96%;
            float: left;
            display: inline-block;
            padding: 2%;
            background: #EEEEEE;
            text-align: right;
            border-bottom: 1px dotted #DDDDDD;
            

            h1{
                font-size: 2em;
                margin-bottom: 10px;
                font-weight: normal;
                color: @colorBase1;
            }
            p{
                font-size: 0.9em;
                color: #AAAAAA;

                i{
                    color: #DDDDDD;
                }
            }
        }


        .feedItem{
            float: left;
            width: 31%;
            display: inline-block;
            margin: 1%;
            background: #FFFFFF;
            box-shadow: 0px 0px 3px #AAAAAA;
            border-radius: 2px;

            &:hover{
                .detail{
                    h1{
                        a{
                            color: @colorBase4;
                        }
                    }
                }
            }

            .image{
                width: 100%;
                height: 250px;
                overflow: hidden;
                display: inline-block;
                float: left;
                position: relative;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;

                background-image:url(../image/loading4.gif);
                background-position:center;
                background-repeat:no-repeat;

                .tri{
                    position: absolute;
                    bottom: 0px;
                    left: 5%;

                    border-top: 10px solid transparent;
                    border-bottom: 10px solid #FFFFFF;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                }

                .duration{
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    background: #111111;
                    background: rgba(0, 0, 0, 0.5);
                    color: #FFFFFF;
                    font-size: 0.7em;
                    padding: 5px;
                    border-radius: 2px;
                }

                img{
                    width: 100%;
                }
            }

            .detail{
                width: 94%;
                padding: 3%;
                display: inline-block;
                float: left;
                height: 90px;
                overflow: hidden;

                h1{
                    font-size: 0.9em;
                    line-height: 18px;
                    margin-bottom: 5px;

                    a{
                        color: @colorBase1;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                } 
                p{
                    font-size: 0.85em;
                    line-height: 19px;
                    color: #777777;
                }
            }
            .stat{
                width: 94%;
                padding: 3%;
                display: inline-block;
                float: left;
                font-size: 0.7em;
                color: @colorBase1;

                i{
                    color: #AAAAAA;
                }

                .time{
                    float: left;
                    margin-right: 5px;

                    a{
                        color: @colorBase1;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .statBox{
                    float: right;
                }
            }
        }

        .loading{
            width: 96%;
            float: left;
            display: inline-block;
            padding: 2%;
            text-align: center;
            font-size: 0.9em;
            color: @colorBase1;
        }
    }
}

#feature{
    position: fixed;
    width: 20%;
    height: 98%;
    top: 0px;
    right: 1%;
    overflow: auto;
    padding-top: 2%;

    .banner{
        float: left;
        width: 100%;
        display: inline-block;
        overflow: hidden;

        .bannerItem{
            float: left;
            width: 92%;
            display: inline-block;
            background: #FFFFFF;
            margin: 2%;
            padding: 2%;
            box-shadow: 0px 0px 3px #AAAAAA;
            border-radius: 2px;
            overflow: hidden;
            position: relative;

            img{
                width: 100%;
            }

            &:hover{
                .title{
                    opacity: 1;
                }
            }

            .title{
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: #111111;
                background: rgba(0,0,0,0.6);
                color: #FFFFFF;
                font-size: 0.7em;
                padding: 5px;
                border-radius: 1px;
                opacity: 0;

                .transition;
            }
        }
    }

    .likeBox{
        float: left;
        width: 96%;
        display: inline-block;
        margin-bottom: 20px;
        background: #FFFFFF;
        margin: 2%;
        box-shadow: 0px 0px 3px #AAAAAA;
        border-radius: 2px;
        overflow: hidden;

        .fb-like-box{
            width: 100% !important;
        }
    }

    .featureItem{
        float: left;
        width: 96%;
        display: inline-block;
        background: #FFFFFF;
        margin: 2%;
        box-shadow: 0px 0px 3px #AAAAAA;
        border-radius: 2px;
        overflow: hidden;

        &:hover{
            .detail{
                h2{
                    a{
                        color: @colorBase4;
                    }
                }
            }
        }

        .photo{
            width: 100%;
            height: 150px;
            float: left;
            display: inline-block;
            overflow: hidden;
            position: relative;

            background-image:url(../image/loading4.gif);
            background-position:center;
            background-repeat:no-repeat;

            .tri{
                position: absolute;
                bottom: 0px;
                left: 5%;

                border-top: 10px solid transparent;
                border-bottom: 10px solid #FFFFFF;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }

            .duration{
                position: absolute;
                right: 5px;
                bottom: 5px;
                background: #111111;
                background: rgba(0, 0, 0, 0.5);
                color: #FFFFFF;
                font-size: 0.7em;
                padding: 5px;
                border-radius: 2px;
            }
        }
        .detail{
            width: 94%;
            float: left;
            display: inline-block;
            padding: 3%;
            height: 48px;
            overflow: hidden;

            h2{
                font-size: 0.8em;
                line-height: 18px;
                color: @colorBase1;
                margin-bottom: 5px;

                a{
                    color: @colorBase1;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .stat{
            width: 94%;
            padding: 3%;
            display: inline-block;
            float: left;
            font-size: 0.7em;
            color: @colorBase1;

            i{
                color: #AAAAAA;
            }

            .time{
                float: left;
                margin-right: 5px;

                a{
                    color: @colorBase1;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .statBox{
                float: right;
            }
        }
    }
}

/* Scroll Bar */
/* Let's get this party started */
#feature::-webkit-scrollbar {
    width: 0px;
    background:#DDDDDD;
}
/* Track */
#feature::-webkit-scrollbar-track { 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* Handle */
#feature::-webkit-scrollbar-thumb {background:#e74c3c;}
#feature::-webkit-scrollbar-thumb:window-inactive {}


@media only screen and (min-width:760px) and (max-width:1099px){
}

@media only screen and (min-width:520px) and (max-width:759px){
}

@media only screen and (min-width:0px) and (max-width :519px){

#btnMenu{
    display: block;
}

#header{
    left: -82%;
    width: 80%;

    #logo{
        font-size: 1.5em;
    }
    #description{
        font-size: 0.7em;
    }
    #category,#navigator{
        .categoryItem,.navItem{
            font-size: 0.7em;
            i{
                
            }
        }
    }
    #footer{
        font-size: 0.6em;
    }
}

#mainContent{
    width: 98%;
    margin-left: 1%;

    .mainContent{
        #show{
            width: 98%;
            padding: 1%;

            .photo{
                width: 100%;
                display: inline-block;
                float: left;
                margin-bottom: 20px;

                background-image:url(../image/loading4.gif);
                background-position:center;
                background-repeat:no-repeat;

                img{
                    width: 100%;
                    box-shadow: 1px 1px 3px #777777;
                }
            }

            .video{

                iframe{
                    height:220px;
                }

                .fb-post{
                    height:220px !important;
                }
            }

            .stat{
                margin-bottom: 15px;
                font-size: 0.7em;
            }

            h1{
                font-size: 1em;
                margin-bottom: 15px;
                line-height: 25px;
            }

            .social{

                .item{
                    width: 49%;
                    float: left;
                    margin-right: 1%;
                    margin-bottom: 10px;
                    display: inline-block !important;
                    text-align: left;
                }
            }

            .text{
                line-height: 20px;
                font-size: 0.9em;

                strong{
                    color: @colorBase1;
                }

                em{
                    color: @colorBase4;
                }

                a{
                    color: @colorBase1;

                    &:hover{
                        color: @colorBase4;
                        text-decoration: underline;
                    }
                }

                figcaption{
                    font-size: 0.7em;
                }

                iframe{
                    height:220px;
                }

                .fb-post{
                    height:220px !important;
                }
            }
        }

        #title{

            h1{
                font-size: 1.5em;
                margin-bottom: 15px;
            }
            p{
                font-size: 0.8em;
            }
        }


        .feedItem{
            width: 98%;
            margin-bottom: 10px;

            .image{
                height: 200px;
            }

            .detail{
                height: 90px;

                h1{
                    font-size: 0.8em;
                    line-height: 15px;
                } 
                p{
                    font-size: 0.7em;
                    line-height: 16px;
                }
            }
            .stat{
                font-size: 0.6em;
                padding-top: 20px;
                .statBox{
                }
            }
        }
    }
}

#feature{
    display: none;
}


}