@charset "utf-8";
@font-face {
  font-family: 'ColabThi-webfont';
  src: url('../font/ColabThi-webfont.eot');
  src: url('../font/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ColabThi-webfont.woff') format('woff'), url('../font/ColabThi-webfont.ttf') format('truetype'), url('../font/ColabThi-webfont.svg#ColabThi-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisansneue-light';
  src: url('../font/thaisansneue-light.eot');
  src: url('../font/thaisansneue-light.eot?#iefix') format('embedded-opentype'), url('../font/thaisansneue-light.woff') format('woff'), url('../font/thaisansneue-light.ttf') format('truetype'), url('../font/thaisansneue-light.svg#thaisansneue-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  background: #1abc9c;
}
#login {
  position: fixed;
  top: 33%;
  left: 33%;
  width: 31%;
  display: inline-block;
  background: #ecf0f1;
  padding: 1%;
  border-radius: 2px;
  border: 2px solid #16a085;
  box-shadow: 1px 1px 5px #16a085;
}
#login .title {
  font-size: 2em;
  font-family: ColabThi-webfont;
  margin-bottom: 20px;
  color: #000000;
}
#login .input-text {
  background: #FFFFFF;
  float: left;
  width: 96%;
  font-size: 0.9em;
  padding: 2%;
  margin-bottom: 15px;
  text-align: center;
  color: #555555;
  border: 1px solid #DDDDDD;
}
#login .input-text:focus {
  border: 1px dotted #222222;
}
#login .input-submit {
  float: left;
  width: 100%;
  background: #1abc9c;
  border: 1px solid #16a085;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 1.5%;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}
#login .input-submit:hover {
  background: #16a085;
}
#login .alert {
  color: #e74c3c;
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#login p {
  font-size: 0.8em;
  text-align: right;
  color: #AAAAAA;
}
@media only screen and (min-width: 760px) and (max-width: 1099px) {
  #login {
    top: 20%;
    left: 22%;
    width: 50%;
    padding: 2%;
  }
  #login .title {
    font-size: 1.7em;
  }
  #login .input-text {
    font-size: 0.9em;
  }
  #login .input-submit {
    font-size: 0.9em;
    padding: 2%;
  }
}
@media only screen and (min-width: 520px) and (max-width: 759px) {
  #login {
    top: 20%;
    left: 2%;
    width: 90%;
    padding: 2%;
  }
  #login .title {
    font-size: 1.5em;
  }
  #login .input-text {
    font-size: 0.9em;
  }
  #login .input-submit {
    font-size: 0.8em;
    padding: 2%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 519px) {
  #login {
    top: 20%;
    left: 2%;
    width: 90%;
    padding: 3%;
  }
  #login .title {
    font-size: 1.5em;
  }
  #login .input-text {
    font-size: 0.9em;
  }
  #login .input-submit {
    font-size: 0.8em;
    padding: 3%;
  }
}
