/* line 21, E:\Dropbox\httpd\igenblog\admin\less\style.less */

.layouts {
  float: left;
  width: 100%;
  display: inline-block;
}

/* line 27, E:\Dropbox\httpd\igenblog\admin\less\style.less */

.highlight {
  color: #e74c3c;
  text-decoration: underline;
}

/* line 31, E:\Dropbox\httpd\igenblog\admin\less\style.less */

::selection {
  background: #1abc9c;
}

/* line 34, E:\Dropbox\httpd\igenblog\admin\less\style.less */

::-moz-selection {
  background: #1abc9c;
}

@charset "utf-8";


/*********** IMPORT FONT FILE TO WEB **************/

@font-face {
  font-family: 'ColabThi-webfont';
  src: url('../font/ColabThi-webfont.eot');
  src: url('../font/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ColabThi-webfont.woff') format('woff'), url('../font/ColabThi-webfont.ttf') format('truetype'), url('../font/ColabThi-webfont.svg#ColabThi-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thaisansneue-light';
  src: url('../font/thaisansneue-light.eot');
  src: url('../font/thaisansneue-light.eot?#iefix') format('embedded-opentype'), url('../font/thaisansneue-light.woff') format('woff'), url('../font/thaisansneue-light.ttf') format('truetype'), url('../font/thaisansneue-light.svg#thaisansneue-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 62, E:\Dropbox\httpd\igenblog\admin\less\style.less */

body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  background: #eaeaea;
}

/* line 66, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator {
  background: #ffffff;
  width: 13%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* line 74, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #facebookLogin {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 82, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #facebookLogin .photo {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
}

/* line 89, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #facebookLogin .photo img {
  width: 70px;
}

/* line 95, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu {
  width: 100%;
  float: left;
  display: inline-block;
}

/* line 100, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item {
  float: left;
  width: 95%;
  height: 40px;
  color: #333333;
  font-size: 0.9em;
  padding-left: 5%;
  cursor: pointer;
}

/* line 110, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item .text {
  width: 96%;
  float: left;
  height: 40px;
  padding-top: 12px;
}

/* line 116, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item .text i {
  margin-right: 10px;
}

/* line 120, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item .text .total {
  float: right;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  padding-right: 10px;
  color: #1abc9c;
}

/* line 131, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item .s {
  width: 4%;
  height: 40px;
  float: right;
}

/* line 137, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item:hover {
  background: #EAEAEA;
}

/* line 140, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .item:hover .s {
  background: #1abc9c;
}

/* line 146, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .active {
  background: #f5f5f5;
}

/* line 148, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#navigator #mainMenu .active .s {
  background: #1abc9c;
}

/* line 156, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display {
  width: 87%;
  margin-left: 13%;
  float: left;
  display: inline-block;
  position: relative;
}

/* line 163, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 36px;
  background: #ffffff;
  padding-top: 9px;
  padding-bottom: 5px;
}

/* line 173, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #logo {
  float: left;
  font-family: ColabThi-webfont;
  font-size: 2.2em;
  color: #333333;
  margin-left: 1%;
}

/* line 180, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #logo img {
  height: 25px;
}

/* line 184, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #logo i {
  color: #1abc9c;
}

/* line 189, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #stat {
  float: right;
  display: inline-block;
}

/* line 193, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #stat .item {
  float: right;
  color: #333333;
  background: #EAEAEA;
  font-size: 0.8em;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid #D5D5D5;
}

/* line 202, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #stat .item i {
  padding: 8px;
  font-size: 1.2em;
  background: #DDDDDD;
}

/* line 207, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #header #stat .item .text {
  padding: 5px;
}

/* line 214, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent {
  margin-top: 50px;
  width: 100%;
  display: inline-block;
}

/* line 219, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .title {
  width: 98%;
  display: inline-block;
  float: left;
  color: #CCCCCC;
  font-size: 2.5em;
  padding: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 229, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .title #console {
  font-size: 0.4em;
}

/* line 235, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .title .categoryMode .input-select {
  background: #f5f5f5;
  border: 0px;
  font-size: 0.4em;
  padding: 0.5%;
  width: 25%;
  color: #333333;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  outline: 0;
}

/* line 248, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content {
  width: 49%;
  display: inline-block;
  float: left;
  padding-left: 1%;
}

/* line 254, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .option {
  float: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 259, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .option .item {
  float: left;
  color: #333333;
  background: #f5f5f5;
  padding: 12px;
  font-size: 0.9em;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

/* line 270, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .option .item:hover {
  background: #ffffff;
}

/* line 274, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .option .active {
  background: #ffffff;
}

/* line 277, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .option .search {
  float: right;
}

/* line 280, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .option .search .input-text {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  font-size: 0.9em;
  padding: 10px;
  width: 200px;
  text-align: left;
  border-radius: 3px;
  color: #555555;
}

/* line 293, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display {
  float: left;
  width: 100%;
  display: inline-block;
  color: #333333;
}

/* line 299, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .settingItem {
  background: #ffffff;
  float: left;
  width: 96%;
  padding: 2%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  font-size: 1em;
  cursor: pointer;
}

/* line 311, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .settingItem:hover {
  background: #f5f5f5;
}

/* line 315, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .settingItem p {
  font-size: 0.8em;
  margin-top: 8px;
  color: #aaaaaa;
  margin-left: 20px;
}

/* line 323, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem {
  background: #ffffff;
  float: left;
  width: 96%;
  padding: 2%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

/* line 334, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem:hover {
  background: #f5f5f5;
}

/* line 338, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem .photo {
  width: 45%;
  display: inline-block;
  float: left;
}

/* line 343, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem .photo img {
  width: 100%;
}

/* line 347, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem .info {
  float: right;
  width: 54%;
  display: inline-block;
  font-size: 0.9em;
  line-height: 20px;
}

/* line 354, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem .info .zone {
  font-size: 1em;
  margin-bottom: 5px;
  color: #1abc9c;
}

/* line 359, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem .info .text {
  font-size: 1em;
}

/* line 362, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .bannerItem .info p {
  font-size: 0.9em;
  text-decoration: underline;
}

/* line 371, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .draft {
  opacity: 0.5;
}

/* line 374, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem,
#display #mainContent .content .display .articleItem {
  background: #ffffff;
  float: left;
  width: 96%;
  padding: 2%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

/* line 385, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem:hover,
#display #mainContent .content .display .articleItem:hover {
  background: #f5f5f5;
}

/* line 389, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .photo,
#display #mainContent .content .display .articleItem .photo {
  width: 25%;
  display: inline-block;
  float: left;
  background-image: url(../image/loading4.gif);
  background-position: center;
  background-repeat: no-repeat;
}

/* line 397, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .photo img,
#display #mainContent .content .display .articleItem .photo img {
  width: 100%;
}

/* line 401, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info,
#display #mainContent .content .display .articleItem .info {
  float: right;
  width: 73%;
  display: inline-block;
  font-size: 0.9em;
  line-height: 20px;
  word-wrap: break-word;
}

/* line 409, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head,
#display #mainContent .content .display .articleItem .info .head {
  float: left;
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: 5px;
}

/* line 414, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .id,
#display #mainContent .content .display .articleItem .info .head .id {
  float: left;
  color: #777777;
  background: #DDDDDD;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  margin-right: 5px;
}

/* line 425, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .status,
#display #mainContent .content .display .articleItem .info .head .status {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}

/* line 433, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .s,
#display #mainContent .content .display .articleItem .info .head .s {
  background: #2ecc71;
  color: #FFFFFF;
}

/* line 437, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .s:hover,
#display #mainContent .content .display .articleItem .info .head .s:hover {
  background: #27ae60;
}

/* line 441, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .d,
#display #mainContent .content .display .articleItem .info .head .d {
  background: #AAAAAA;
  color: #FFFFFF;
}

/* line 444, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .d:hover,
#display #mainContent .content .display .articleItem .info .head .d:hover {
  background: #777777;
}

/* line 449, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .category,
#display #mainContent .content .display .articleItem .info .head .category {
  float: right;
  background: #1abc9c;
  color: #FFFFFF;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  cursor: pointer;
}

/* line 457, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .head .category:hover,
#display #mainContent .content .display .articleItem .info .head .category:hover {
  background: #16a085;
}

/* line 463, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info h1,
#display #mainContent .content .display .articleItem .info h1 {
  font-size: 1em;
  margin-bottom: 5px;
  color: #1abc9c;
}

/* line 468, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info h1 i,
#display #mainContent .content .display .articleItem .info h1 i {
  color: #AAAAAA;
}

/* line 470, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info h1 i:hover,
#display #mainContent .content .display .articleItem .info h1 i:hover {
  color: #333333;
}

/* line 475, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .photoItem .info .text,
#display #mainContent .content .display .articleItem .info .text {
  font-size: 0.9em;
  color: #777777;
}

/* line 482, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem {
  background: #ffffff;
  float: left;
  width: 96%;
  padding: 2%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

/* line 493, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem:hover {
  background: #f5f5f5;
}

/* line 497, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .image {
  width: 30%;
  float: left;
  display: inline-block;
}

/* line 502, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .image img {
  width: 100%;
}

/* line 506, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info {
  width: 69%;
  float: right;
  display: inline-block;
  word-wrap: break-word;
}

/* line 512, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head {
  float: left;
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: 10px;
}

/* line 517, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .id {
  float: left;
  color: #777777;
  background: #DDDDDD;
  padding: 3px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}

/* line 528, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .status {
  float: left;
  padding: 3px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}

/* line 535, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .s {
  background: #2ecc71;
  color: #FFFFFF;
}

/* line 539, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .s:hover {
  background: #27ae60;
}

/* line 543, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .d {
  background: #AAAAAA;
  color: #FFFFFF;
}

/* line 546, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .d:hover {
  background: #777777;
}

/* line 551, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .category {
  float: right;
  background: #1abc9c;
  color: #FFFFFF;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
}

/* line 558, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .head .category:hover {
  background: #16a085;
}

/* line 564, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .name {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #1abc9c;
}

/* line 569, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .name i {
  color: #AAAAAA;
}

/* line 571, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .name i:hover {
  color: #333333;
}

/* line 576, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .link {
  font-size: 0.7em;
  margin-bottom: 5px;
  color: #16a085;
}

/* line 581, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .videoItem .info .description {
  font-size: 0.8em;
  line-height: 17px;
  color: #aaaaaa;
  color: #777777;
}

/* line 589, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem {
  background: #ffffff;
  float: left;
  width: 96%;
  padding: 2%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

/* line 600, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem:hover {
  background: #f5f5f5;
}

/* line 604, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem i {
  margin-right: 5px;
}

/* line 608, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem .name {
  float: left;
  width: 100%;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 10px;
}

/* line 613, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem .name .url {
  font-size: 0.8em;
  text-decoration: underline;
  color: #aaaaaa;
  cursor: pointer;
}

/* line 619, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem .name .url:hover {
  color: #333333;
}

/* line 624, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem .description {
  float: left;
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
}

/* line 629, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem .control {
  float: left;
  width: 100%;
  display: inline-block;
}

/* line 631, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .content .display .categoryItem .control .btn {
  float: right;
  margin-left: 10px;
  font-size: 0.8em;
}

/* line 640, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity {
  width: 48%;
  display: inline-block;
  float: right;
  padding-left: 1%;
  margin-right: 1%;
}

/* line 647, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .headTitle {
  float: left;
  width: 100%;
  display: inline-block;
  padding: 3%;
  width: 94%;
  background: #ffffff;
  color: #333333;
  font-size: 0.9em;
  margin-bottom: 7px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

/* line 658, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .headTitle i {
  color: #CCCCCC;
}

/* line 662, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .headTitle .id {
  color: #1abc9c;
}

/* line 667, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form {
  float: left;
  width: 100%;
  display: inline-block;
  padding: 3%;
  width: 94%;
  background: #ffffff;
  color: #333333;
  font-size: 1em;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  /* Scroll Bar */
  /* Let's get this party started */
  /* Track */
  /* Handle */
}

/* line 677, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form p {
  font-size: 0.8em;
  margin-bottom: 10px;
  float: left;
  color: #777777;
}

/* line 684, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .text {
  text-align: right;
  font-size: 0.7em;
  color: #aaaaaa;
  margin-bottom: 10px;
}

/* line 690, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .w {
  color: #e74c3c;
}

/* line 694, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .image {
  background: #EEEEEE;
  border: 1px solid #DDDDDD;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
  float: left;
  border-radius: 2px;
}

/* line 704, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .image .item {
  float: left;
  width: 29%;
  display: inline-block;
  margin: 2%;
  border-radius: 2px;
  overflow: hidden;
}

/* line 712, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .image .item img {
  width: 100%;
}

/* line 719, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .photoInput {
  float: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 725, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .photoInput .imageResult {
  float: left;
  width: 28%;
  height: 150px;
  display: inline-block;
  background: #f5f5f5;
  overflow: hidden;
  text-align: center;
  padding: 1%;
  background-image: url(../image/icon/photo.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* line 739, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .photoInput .imageResult img {
  height: 150px;
}

/* line 743, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .photoInput .input {
  float: right;
  width: 68%;
  display: inline-block;
}

/* line 756, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-text {
  background: #f5f5f5;
  border: 0px;
  font-size: 0.8em;
  padding: 1%;
  width: 98%;
  color: #333333;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #EEEEEE;
}

/* line 768, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-select {
  background: #f5f5f5;
  border: 0px;
  font-size: 0.8em;
  padding: 1%;
  width: 100%;
  color: #333333;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #EEEEEE;
  outline: 0;
}

/* line 781, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .control {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 787, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .control .btn {
  float: left;
  background: #1abc9c;
  color: #FFFFFF;
  padding: 5px;
  font-size: 0.7em;
  cursor: pointer;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 2px;
}

/* line 798, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .control .btn:hover {
  background: #16a085;
}

/* line 803, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .control .right {
  float: right;
}

/* line 807, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-area {
  background: #f5f5f5;
  border: 0px;
  height: 200px;
  font-size: 0.8em;
  padding: 1%;
  width: 98%;
  color: #333333;
  max-height: 1000px;
  margin-bottom: 5px;
  font-family: tahoma;
  border-radius: 2px;
  border: 1px solid #EEEEEE;
  resize: vertical;
}

/* line 825, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-area::-webkit-scrollbar {
  width: 5px;
  background: #f5f5f5;
}

/* line 830, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-area::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* line 835, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-area::-webkit-scrollbar-thumb {
  background: #1abc9c;
}

/* line 839, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .btn-delete {
  background: #ea6153;
  color: #FFFFFF;
  padding: 7px;
  text-align: center;
  font-size: 0.7em;
  float: left;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}

/* line 850, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .btn-delete:hover {
  background: #c0392b;
}

/* line 855, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-submit {
  background: #1abc9c;
  border: 0px;
  font-size: 1em;
  width: 50%;
  padding: 2%;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 2px;
  float: right;
}

/* line 866, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .input-submit:hover {
  background: #16a085;
}

/* line 871, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#display #mainContent .activity .form .s {
  margin-bottom: 20px;
}

/* line 879, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#console {
  position: fixed;
  bottom: -30px;
  left: 0px;
  width: 98%;
  padding: 1%;
  background: #FFFFFF;
  display: inline-block;
  border-radius: 2px;
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #DDDDDD;
}

/* line 893, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#console .style-1 {
  color: #2ecc71;
}

/* line 896, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#console .style-2 {
  color: #3498db;
}

/* line 899, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#console .style-3 {
  color: #95a5a6;
}

/* line 902, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#console .style-4 {
  color: #e74c3c;
}

/* line 907, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample {
  position: fixed;
  top: 0px;
  left: -60%;
  width: 55%;
  height: 100%;
  padding: 1%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  /* Scroll Bar */
  /* Let's get this party started */
  /* Track */
  /* Handle */
}

/* line 917, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .control {
  float: left;
  width: 100%;
  display: inline-block;
}

/* line 920, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .control .item {
  float: right;
  display: inline-block;
  text-align: center;
  background: #1abc9c;
  color: #FFFFFF;
  font-size: 0.8em;
  padding: 1%;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 2px;
  cursor: pointer;
}

/* line 933, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .control .item:hover {
  background: #16a085;
}

/* line 938, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display {
  float: left;
  width: 100%;
  display: inline-block;
  height: 92%;
  background: #FFFFFF;
  border-radius: 2px;
  overflow: auto;
  font-size: 0.9em;
  line-height: 20px;
  color: #555555;
}

/* line 948, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display h1 {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  color: #333333;
}

/* line 954, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display p {
  margin: 0px;
  padding: 0px;
  color: #444444;
}

/* line 960, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display a {
  color: #1abc9c;
}

/* line 963, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display img {
  width: 70%;
  text-align: center;
  margin: auto;
}

/* line 969, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display iframe {
  width: 70%;
  height: 300px;
  border: 0px;
}

/* line 979, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display::-webkit-scrollbar {
  width: 5px;
  background: #f5f5f5;
}

/* line 984, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* line 989, E:\Dropbox\httpd\igenblog\admin\less\style.less */

#viewExample .display::-webkit-scrollbar-thumb {
  background: #1abc9c;
}